
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1{
    position: absolute;
    background-color: rgba(23, 125, 220, 0.861);
    width: 300px;
    height: 300px;
    top: 20px;
    left: 20px;
}
.div2{
    position: absolute;
    background-color: rgba(16, 200, 148, 0.861);
    width: 300px;
    height: 300px;
    top:20px ;
    left: 350px;
}
.div3{
    background-color: rgba(236, 13, 13, 0.797);
    height: 50px;
    width: 100px;
    color: white;
    margin: 50px;
    padding: 50px;

}
body{
    background-image: url(/blue.webp);
    background-color: skyblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.form{
    position: absolute;
    background-color: white;
    width: 500px;
    height:500px ;
    top: 20px;
    left: 400px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px ;
    padding-top: 60px;
    text-align: center;
    opacity: 0.8px;      
}
main{
    position: relative;
}
input{
    margin: 10px 0px;
    padding: 5px;
    width: 100%;
   
}
select{
    margin: 10px 0px;
    padding: 5px;
    width: 100%;
}
button{
    padding: 5px;
    margin: 10px 0px;
    background-color: rgb(23, 124, 218);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    width: 100%;
}
button:hover{
    background-color: rgba(130, 40, 225, 0.886);
}
form{
    width: 200px;
    margin: auto;
}

nav{
    height: 70px;
    background-color:rgb(58, 131, 209);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 300px;
    margin-right: 50px;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}